<div class="container">
  <h3>REGISTRO</h3>
  <div class="row">
    <form [formGroup]="formularioRegister" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombres</mat-label>
        <input
          type="text"
          matInput
          formControlName="firstname"
          maxlength="70"
          placeholder=""
        />
        <mat-hint
          class="text-danger"
          *ngIf="
            formularioRegister.controls['firstname']?.invalid &&
            (formularioRegister.controls['firstname']?.dirty ||
              formularioRegister.controls['firstname']?.touched)
          "
        >
          <div *ngFor="let validation of VALIDATION_MESSAGES.firstname">
            <span
              *ngIf="
                formularioRegister.get('firstname')?.hasError(validation.type) &&
                (formularioRegister.get('firstname')?.dirty ||
                  formularioRegister.get('firstname')?.touched)
              "
            >
              <strong>{{ validation.message }} </strong>
            </span>
          </div>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input
          type="text"
          matInput
          formControlName="lastname"
          maxlength="70"
          placeholder=""
        />
        <mat-hint
          class="text-danger"
          *ngIf="
            formularioRegister.controls['lastname']?.invalid &&
            (formularioRegister.controls['lastname']?.dirty ||
              formularioRegister.controls['lastname']?.touched)
          "
        >
          <div *ngFor="let validation of VALIDATION_MESSAGES.lastname">
            <span
              *ngIf="
                formularioRegister.get('lastname')?.hasError(validation.type) &&
                (formularioRegister.get('lastname')?.dirty ||
                  formularioRegister.get('lastname')?.touched)
              "
            >
              <strong>{{ validation.message }} </strong>
            </span>
          </div>
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo electronico</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          maxlength="70"
          placeholder="Ex. pat@example.com"
        />
        <mat-hint
          class="text-danger"
          *ngIf="
            formularioRegister.controls['email']?.invalid &&
            (formularioRegister.controls['email']?.dirty ||
              formularioRegister.controls['email']?.touched)
          "
        >
          <div *ngFor="let validation of VALIDATION_MESSAGES.email">
            <span
              *ngIf="
                formularioRegister.get('email')?.hasError(validation.type) &&
                (formularioRegister.get('email')?.dirty ||
                  formularioRegister.get('email')?.touched)
              "
            >
              <strong>{{ validation.message }} </strong>
            </span>
          </div>
        </mat-hint>
      </mat-form-field>

      <hr />
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          maxlength="70"
          placeholder=""
        />
        <mat-hint
          class="text-danger"
          *ngIf="
            formularioRegister.controls['password']?.invalid &&
            (formularioRegister.controls['password']?.dirty ||
              formularioRegister.controls['password']?.touched)
          "
        >
          <div *ngFor="let validation of VALIDATION_MESSAGES.password">
            <span
              *ngIf="
                formularioRegister.get('password')?.hasError(validation.type) &&
                (formularioRegister.get('password')?.dirty ||
                  formularioRegister.get('password')?.touched)
              "
            >
              <strong>{{ validation.message }} </strong>
            </span>
          </div>
        </mat-hint>
      </mat-form-field>

      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Rol</mat-label>
        <input
          type="text"
          matInput
          formControlName="rol"
          maxlength="5"
          placeholder="admin"
        />
        <mat-hint
          class="text-danger"
          *ngIf="
            formularioRegister.controls['rol']?.invalid &&
            (formularioRegister.controls['rol']?.dirty ||
              formularioRegister.controls['rol']?.touched)
          "
        >
          <div *ngFor="let validation of VALIDATION_MESSAGES.rol">
            <span
              *ngIf="
                formularioRegister.get('rol')?.hasError(validation.type) &&
                (formularioRegister.get('rol')?.dirty ||
                  formularioRegister.get('rol')?.touched)
              "
            >
              <strong>{{ validation.message }} </strong>
            </span>
          </div>
        </mat-hint>
      </mat-form-field>

      <!-- pruebas data binding -->
      <!-- <p>
          {{ formularioContacto.value  | json }}
        </p> -->

      <div class="mb-3 row p-3">
        <button mat-stroked-button color="primary" (click)="onSubmit()">
          REGISTRARME
        </button>
      </div>
    </form>
  </div>
</div>
