<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Juegos de lucha</span>
    </a>
  </header>

  <div class="row align-items-md-stretch">
    <div class="col-6">
      <app-card [nombre]="'Street Fighter V'" [logo]="'SF_logo'" [imagen]="'stf'"
        [vermas]="'https://store.steampowered.com/app/310950/Street_Fighter_V/?l=spanish'"
        [descripcion]="'
          Experimenta la intensidad de la batalla cara a cara en Street Fighter® V.Elige entre 16 personajes icónicos, cada uno con su propia historia personal y desafíos de entrenamiento únicos, y luego lucha contra amigos en línea o sin conexión con una sólida variedad de opciones para cada partida'">
      </app-card>
    </div>
    <div class="col-6">
      <app-card [nombre]="'TEKKEN 7'" [logo]="'tekken7'" [imagen]="'tekken7'"
        [vermas]="'https://store.steampowered.com/app/310950/Street_Fighter_V/?l=spanish'"
        [descripcion]="'
        Descubre el épico final de la prolongada contienda entre miembros del clan Mishima. La legendaria saga de juegos de lucha vuelve a la carga con este título creado con Unreal Engine 4 que ofrece espectaculares batallas con cinemáticas narrativas e intensos duelos para disfrutar con amigos y rivales.'">
      </app-card>
    </div>

  </div>

</div>
