<div class="container">
  <h3>LOGIN</h3>
  <div class="row">
    <form [formGroup]="formularioLogin" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo electronico</mat-label>
        <input
          type="email"
          matInput
          formControlName="correo"
          maxlength="70"
          placeholder="Ex. pat@example.com"
        />
        <mat-error *ngFor="let validation of VALIDATION_MESSAGES.correo">
          <strong>{{ validation.message }} </strong>
        </mat-error>
      </mat-form-field>
      <hr />
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          maxlength="70"
          placeholder=""
        />
        <mat-error *ngFor="let validation of VALIDATION_MESSAGES.password">
          <strong>{{ validation.message }} </strong>
        </mat-error>
      </mat-form-field>

      <!-- pruebas data binding -->
      <!-- <p>
          {{ formularioContacto.value  | json }}
        </p> -->

      <div class="mb-3 row p-3">
        <button mat-stroked-button color="primary" (click)="enviarFormulario()">
          ACCESO
        </button>
      </div>
    </form>
  </div>
</div>
