<div class="container">
  <h3>LOGIN</h3>
  <div class="row">
    <form [formGroup]="formularioLogin" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Correo electronico</mat-label>
        <input
          type="email"
          matInput
          formControlName="correo"
          maxlength="70"
          placeholder="Ex. pat@example.com"
        />
        <mat-hint
          class="text-danger"
          *ngIf="
            formularioLogin.controls['correo']?.invalid &&
            (formularioLogin.controls['correo']?.dirty ||
              formularioLogin.controls['correo']?.touched)
          "
        >
          <div *ngFor="let validation of VALIDATION_MESSAGES.correo">
            <span
              *ngIf="
                formularioLogin.get('correo')?.hasError(validation.type) &&
                (formularioLogin.get('correo')?.dirty ||
                  formularioLogin.get('correo')?.touched)
              "
            >
              <strong>{{ validation.message }} </strong>
            </span>
          </div>
        </mat-hint>
      </mat-form-field>
      <hr />
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          maxlength="70"
          placeholder=""
        />
        <mat-hint
          class="text-danger"
          *ngIf="
            formularioLogin.controls['password']?.invalid &&
            (formularioLogin.controls['password']?.dirty ||
              formularioLogin.controls['password']?.touched)
          "
        >
          <div *ngFor="let validation of VALIDATION_MESSAGES.password">
            <span
              *ngIf="
                formularioLogin.get('password')?.hasError(validation.type) &&
                (formularioLogin.get('password')?.dirty ||
                  formularioLogin.get('password')?.touched)
              "
            >
              <strong>{{ validation.message }} </strong>
            </span>
          </div>
        </mat-hint>
      </mat-form-field>

      <!-- pruebas data binding -->
      <!-- <p>
          {{ formularioContacto.value  | json }}
        </p> -->

      <div class="mb-3 row p-3">
        <button mat-stroked-button color="primary" (click)="enviarFormulario()">
          ACCESO
        </button>
      </div>
    </form>
  </div>
</div>
