<div class="row pb-3"> <img src="assets/Valorant_logo.png" class="img-responsive" style="max-width:40em"></div>
<div class="row">
  <div class="col-md-7 p-lg-7 mx-auto my-7">
    <img src="assets/reyna.png" class="img-responsive" style="max-width:20em">
  </div>

  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-6 fw-normal">Juego del Día</h1>
    <h1>DESAFÍA LOS LÍMITES</h1>
    <p class="lead fw-normal"> Combina tu estilo y experiencia en un escenario global y competitivo. Tienes 13 rondas
      para atacar y defender tu
      lado con armas precisas y habilidades tácticas. Además, al contar con una sola vida por ronda, tendrás que pensar
      más rápido que tu oponente si quieres sobrevivir. Enfréntate a enemigos en los modos competitivo y normal, así
      como en Deathmatch y Spike Rush.</p>
    <a class="btn btn-outline-secondary" href="https://playvalorant.com/es-mx/" target="_blank">Ver más</a>
  </div>
  <div class="video-responsive">
    <iframe width="1864" height="762" src="https://www.youtube.com/embed/WATkdofknfw" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  </div>


</div>
