<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-white">Carrito</span><i class="fas fas-cart"></i>
  <div class="example-button-container">
    <button mat-mini-fab color="primary">{{ numPeliculas }}</button>
  </div>
</h4>

<mat-card>
  <mat-card-title>Carrito de compras</mat-card-title>
  <mat-card-subtitle
    >Productos en el carrito {{ numPeliculas }}</mat-card-subtitle
  >
  <mat-nav-list>
    <mat-list-item *ngFor="let item of carrito?.peliculas">
      <a matLine href="javascript:void(0)">
        {{ item.cantidad }} x {{ item.nombre }}</a
      >
      <button mat-icon-button color="primary" (click)="deleteProduct(item.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Total a pagar : $ {{ cartTotal }} </mat-list-item>
  </mat-nav-list>
  <mat-card-actions>
    <button mat-stroked-button color="primary">PAGAR</button>
    <!-- <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>
